<div class="container">
     <h1><strong>EDIT PROFILE</strong></h1>
     <div class="row mt-5">
          <div class="col-md-0">
          </div>
          <div class="col-md-11">
               <table>
                    <tr>
                         <td>
                              <label>Username: </label><input [(ngModel)]="user.username">
                         </td>
                         <td>
                              <label>Password:</label><input [(ngModel)]="user.password">
                         </td>
                    </tr>
                    <tr>
                         <td>
                              <label>First Name: </label><input placeholder="firstname" [(ngModel)]="userdata.firstname">
                         </td>
                         <td>
                              <label>Last Name: </label><input placeholder="lastname" [(ngModel)]="userdata.lastname">
                         </td>
                    </tr>
                    <tr>
                         <td>
                              <label>Telephone: </label><input placeholder="telephone" [(ngModel)]="userdata.telephone">
                         </td>
                         <td>
                              <label>Email: </label><input placeholder="email" [(ngModel)]="userdata.email">
                         </td>
                    </tr>
                    <tr>
                         <td colspan="2">
                              <label>Nationality: </label><br><select placeholder="nazione"
                              [(ngModel)]="userdata.nationality">
                              <option value="Italian" selected>Italian</option>
                              <option value="English">English</option>
                              <option value="French">French</option>
                              <option value="German">German</option>
                              <option value="Russian">Russian</option>
                              <option value="Japanese">Japanese</option>
                         </select> 
                         </td>
                    </tr>
                    <div class="pulsanti">
                         <button (click)="update(user,userdata)">Edit</button>
                         <button (click)="deleteAll(user)">Delete Account</button>
                    </div>
               </table>
          </div>

     </div>
     <div class="col-md-1">
     </div>
</div>