<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="username" [(ngModel)]="usertoinsert.login">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.email">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="tipoutente">
              <option value="ROLE_ADMIN">ADMIN</option>
              <option value="ROLE_USER">USER</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.login">
          </td>
          <td>
            <input [(ngModel)]="user.email">
          </td>
          <td>
            <input [(ngModel)] = "user.authorities">
            
          </td>
          <td>
            <button (click)=update(user)>Save</button>
          </td>
          <td>
            <button (click)="deleteAll(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>