<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div>
      <table>
        <tr>
          <th>
            Projectid
          </th>
          <th>
            Userid
          </th>
          <th>
            Projectname
          </th>
          <th>
            Edit
          </th>
          <th>
            Project
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="automatic" [ngModel]="projecttoinsert.projectid" readonly="readonly">
          </td>
          <td>
            <input placeholder="userid" [ngModel]="userid" readonly="readonly">
          </td>
          <td>
            <input placeholder="projectname" [(ngModel)]="projecttoinsert.projectname">
          </td>
          <td>
            <button (click)="insert(projecttoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let project of projectview">
          <td>
            <input [(ngModel)]="project.projectid">
          </td>
          <td>
            <input [(ngModel)]="project.userid">
          </td>
          <td>
            <input [(ngModel)]="project.projectname">
          </td>
          <td>
            <button (click)=update(project)>Save</button>
          </td>
          <td>
            <button (click)="delete(project)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>