

<p><label>Id:</label><input [(ngModel)]="user.id" readonly="readonly"></p>
<p><label> Username:</label><input [(ngModel)]="user.username" readonly="readonly"></p>
  
    
<p><label>Password:</label><input [(ngModel)]="user.password" readonly="readonly"></p>

<p><label>UserType:</label><input [(ngModel)]="user.usertype" readonly="readonly"></p>
<p><label>UserType:</label><input [(ngModel)]="user.usertype" readonly="readonly"></p>
<p><label >FirstName:</label><input placeholder="firstname"  [(ngModel)]="userdata.firstname"  readonly="readonly"></p>
      <p><label >LastName:</label><input placeholder="lastname" [(ngModel)]="userdata.lastname"  readonly="readonly"></p>
      <p><label >Telephone:</label><input placeholder="tel" [(ngModel)]="userdata.telephone"  readonly="readonly"></p>
      <p><label >Email:</label><input placeholder="mail" [(ngModel)]="userdata.email"  readonly="readonly"></p>
      <p><label >Nationality:</label><input placeholder="nazione" [(ngModel)]="userdata.nationality"  readonly="readonly"></p>